body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-weight: bold;
  font-size: 3.5em;

}

.clearBtn {
  background: black;
  margin: 0px;
}

.clearBtnDiv {
  position: fixed ;
  transform-origin: left;
  transform: scale(0.7);
  bottom: 15px;
}

.clearBtn:hover {
  background-color: red
}

.collection .collection-item {
  border: 0.75px solid #000000 !important;
  
}

.collection {
  border: none;
}



p.noThings {
  height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 10px;
}

.inputDiv {
  position: sticky;
  top: 0;
  z-index: 5;
  background: white
}