:root {
  --animate-duration: 0s;
  

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:80%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.darkMode {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  mix-blend-mode: difference;
  z-index: ;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-weight: bold;
  font-size: 3.5em;
  position: relative;
  background: white;
  z-index: 5;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px
  
}



.darkSwitch {
  position: fixed;
  bottom: 22.5px;
  right: 50px;
 

}

.clearBtn {
  background: black;
  margin: 0px;
}



.clearBtn:hover {
  background-color: red
}

.darkBtn {
    background: black;
    margin: 0px;
}


.darkBtn:hover {
  background: white;
  color: black;
  margin: 0px;
}





.Footer {
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-content: center;
  width:80%;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  bottom: 0;
  height: 75px;
  overflow: hidden;
  padding-top: 25px;
  z-index: 10;
}



.DarkFooter {
  background-color: black;
  color: black;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-content: center;
  width:80%;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
  bottom: 0;
  height: 75px;
  overflow: hidden;
  padding-top: 25px;
  z-index: 10;
}




.collection .collection-item {
  border: 0.75px solid #000000 !important;
  
}

.collection {
  border: none;
  max-width: 500px;
   max-height: 65vh;
  overflow-x: hidden;
  overflow-y: auto;
 
}

p.noThings {
  height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 10px;
}

.inputDiv {
  position: sticky;
  top: 0;
  z-index: 5;
  background: white
}



.inputDivDark:value {
  position: sticky;
  top: 0;
  z-index: 5;
  color: white;
  background: black;
}


i:hover {
  cursor: pointer;
}


span {
  font-size: 1.2em;
}


.dark {
  color: white;
  background: black;
}