body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-weight: bold;
  font-size: 4em;

}

.clearBtn {
  background: black;
  position: relative;
  margin: 0px;
 
  
}

.clearBtnDiv {
position: absolute;
transform-origin: left;
transform: scale(0.7);

}

.clearBtn:hover {
  background-color: red !important
}

.collection .collection-item {
  
  border: 0.75px solid #000000 !important;

}

.collection {
  border: none;
}